/* All Sections */
:root {
    --color1: #97baa4;
    --color2: #499360;
    --color3: #295651;
    --color4: #232941;
}

h1 {
    font-weight: bolder;
}

h2,
h3,
h4,
h5 {
    font-weight: bold;
    color: #295651;
}

/* Header Section */
header {
    background-color: var(--color1);
}

/* Search Section */
.btn {
    background-color: var(--color1);
    color: var(--color3);
    font-weight: 500;
}

.btn:hover {
    background-color: var(--color3);
}

.form-control {
    border: 1px solid var(--color3);
}

/* Search History Section */
.cityHistoryBtn {
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 5px;
    font-weight: 500;
    margin: 10px 0 0 0;
    width: 100%;
}

/* Current Weather Section */
.current-weather{
    border: 2px solid var(--color3);
    border-radius: 10px;
}

#current-city {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    color: var(--color3);
}

#current-temp,
#current-wind,
#current-humid {
    margin: 8px;
    color: var(--color3);
}

/* 5 Day Forecast Section */
#five-day-forecast {
    margin-top: 10px;
}

#day1,
#day2,
#day3,
#day4,
#day5 {
    border: 2px solid var(--color3);
    border-radius: 10px;
    margin: 10px;
    background-color: var(--color4);
    color: #97baa4;
}

#day1 p,
#day2 p,
#day3 p,
#day4 p,
#day5 p {
    padding: 5px;
}